services:
    -
        class: BoringO11y\Skystan\PhpStan\ShouldBeUniqueReflectionDetector
    -
        class: BoringO11y\Skystan\PhpStan\EloquentModelReflectionDetector
    -
        class: BoringO11y\Skystan\PhpStan\BatchableReflectionDetector
    -
        class: BoringO11y\Skystan\PhpStan\Rules\UniqueJobDeclaresUniqueForRule
        tags:
            - phpstan.rules.rule
    -
        class: BoringO11y\Skystan\PhpStan\Rules\UniqueJobDeclaresUniqueIdRule
        tags:
            - phpstan.rules.rule
    -
        class: BoringO11y\Skystan\PhpStan\Rules\NoBatchedUniqueJobRule
        tags:
            - phpstan.rules.rule
    -
        class: BoringO11y\Skystan\PhpStan\Rules\JobWithModelPropertyDeclaresSerializesModelsRule
        tags:
            - phpstan.rules.rule
    -
        class: BoringO11y\Skystan\PhpStan\Rules\BatchedJobIsBatchableRule
        tags:
            - phpstan.rules.rule
    -
        class: BoringO11y\Skystan\PhpStan\Rules\BatchableJobChecksCancellationRule
        tags:
            - phpstan.rules.rule
